<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FileListController</key>
	<array>
		<string>AddTypeCamera</string>
		<string>AddTypePhoto</string>
		<string>AddTypeFolder</string>
	</array>
	<key>PhotoListController</key>
	<array>
		<string>AddTypeCamera</string>
		<string>AddTypePhoto</string>
		<string>AddTypeAlbum</string>
	</array>
	<key>PhotoAlbumController</key>
	<array>
		<string>AddTypeCamera</string>
		<string>AddTypePhoto</string>
	</array>
    <key>AlbumTab</key>
    <array>
        <string>AddTypeAlbum</string>
    </array>
    <key>PhotoTab</key>
    <array>
        <string>AddTypeCamera</string>
        <string>AddTypePhoto</string>
    </array>
</dict>
</plist>
