#Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.moved-aside
DerivedData
.idea/
*.xccheckout

Pods/
Templates/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
Preview.html
fastlane/test_output
# fastlane screenshots
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
fastlane/screenshots/screenshots.html
fastlane/screenshots/**/*.png
!fastlane/screenshots/background.png
builds/