<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>lifedrive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.turkcell.akillidepo.filesui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>20.142</string>
	<key>CFBundleVersion</key>
	<string>2.35</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>group.com.turkcell.akillidepo</string>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>com.mycompany.FileProviderUI.CustomAction</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Custom Action</string>
			</dict>
		</array>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-actionsui</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>TurkcellSaturaReg.ttf</string>
		<string>TurkcellSaturaMedIta.ttf</string>
		<string>TurkcellSaturaMed.ttf</string>
		<string>TurkcellSaturaIta.ttf</string>
		<string>TurkcellSaturaDemIta.ttf</string>
		<string>TurkcellSaturaDem.ttf</string>
		<string>TurkcellSaturaBol.ttf</string>
		<string>TurkcellSaturaBolIta.ttf</string>
	</array>
</dict>
</plist>
