<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>billo</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.turkcell.lifedrive.ent</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>billo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-mij832wzxlbyeiq</string>
				<string>billo</string>
				<string>fb408187279847927</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e0f104faa90cee1ef51529e825b7fed7cd31f0fe</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Answers</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>408187279847927</string>
	<key>FacebookDisplayName</key>
	<string>Billo</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>dbapi-2</string>
		<string>dbapi-8-emm</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb408187279847927</string>
		<string>linkedin</string>
		<string>bip</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MenloApplicationKey</key>
	<string>TDttInhNx_m-Ee76K35tiRJ5FW-ysLHd</string>
	<key>MenloPushApplicationKey</key>
	<string>TDttInhNx_m-Ee76K35tiRJ5FW-ysLHd</string>
	<key>MenloPushSandboxMode</key>
	<true/>
	<key>MenloPushServerURL</key>
	<string>https://turkcell.menloworks.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://adepo.turkcell.com.tr/api/auth/gsm/login</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>http://adepotest.turkcell.com.tr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<string>YES</string>
				<key>NSIncludesSubdomains</key>
				<string>YES</string>
			</dict>
			<key>http://cropyioslifebox.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<string>YES</string>
				<key>NSIncludesSubdomains</key>
				<string>YES</string>
			</dict>
			<key>http://curio.turkcell.com.tr/api/v2</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<string>YES</string>
				<key>NSIncludesSubdomains</key>
				<string>YES</string>
			</dict>
			<key>http://tcloudstb.turkcell.com.tr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<string>YES</string>
				<key>NSIncludesSubdomains</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSContactsUsageDescription</key>
	<string></string>
	<key>NSFaceIDUsageDescription</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location will be used for background syncing</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location will be used for background syncing</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will be used for background syncing</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Need access to save your photo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your photos will be backed up to lifebox</string>
	<key>UIAppFonts</key>
	<array>
		<string>TurkcellSaturaReg.ttf</string>
		<string>TurkcellSaturaMedIta.ttf</string>
		<string>TurkcellSaturaMed.ttf</string>
		<string>TurkcellSaturaIta.ttf</string>
		<string>TurkcellSaturaDemIta.ttf</string>
		<string>TurkcellSaturaDem.ttf</string>
		<string>TurkcellSaturaBol.ttf</string>
		<string>TurkcellSaturaBolIta.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>image/heic</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>HEIC</string>
				<key>public.filename-extension</key>
				<array>
					<string>heic</string>
				</array>
				<key>public.mime-type</key>
				<string>image/heic</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
